@charset "utf-8";

/* 共通分 */
h2,
h3,
h4,
h6 {
    text-align: center;
    font-size: 3.0em;
    letter-spacing: 3px;
    color: #333;
}

p {
    color: #333;
}

article p,
aside p {
    line-height: 2.0;
}

.subtitle {
    text-align: center;
    font-size: 1.0em;
    color: #7d7d7d;
    margin-bottom: 70px;
}

.sp-right{
    float: right;
}

/* メインビジュアル */
.main-visual {
    display: block;
    background-color: #FBFBFB;
    margin-bottom: 50px;
}

.main-visual img {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
}

.main-visual p {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    top: 200px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55%;
}

.main {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

/* 制作実績 */
.portfolio {
    text-align: center;
    margin-top: 60px;
    min-width: 310px;
    margin: auto;
}

.portfolio h6 {
    padding: 0;
    margin: 0;
}

.portfolio-description {
    display: inline-block;
    width: 100%;
    min-height: 80px;
    text-align: center;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 2px #000000;
    border-radius: 5px;
    border-bottom: solid 6px #333;
    border-radius: 9px;
    overflow: hidden;
}

.portfolio-description img{
    width:  40px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

.portfolio-description p{
    text-align: left;
    font-size: 14px;
}

.portfolio button {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #000000;
}

.portfolio button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* XRワード紹介 */
.xr-word-introduction {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.xr-word-introduction h3 {
    font-size: 1.0em;
    margin-bottom: 5px;
}

.xr-word-introduction p {
    font-size: 0.9em;
}

.xr-word-introduction-outline {
    position: relative;
    line-height: 1.4;
    padding: 0.25em 1em;
    display: inline-block;
    top: 0;
}

.xr-word-introduction-outline:before,
.xr-word-introduction-outline:after {
    position: absolute;
    top: 0;
    content: '';
    width: 8px;
    height: 100%;
    display: inline-block;
}

.xr-word-introduction-outline:before {
    border-left: solid 1px #7d7d7d;
    border-top: solid 1px #7d7d7d;
    border-bottom: solid 1px #7d7d7d;
    left: 0;
}

.xr-word-introduction-outline:after {
    content: '';
    border-top: solid 1px #7d7d7d;
    border-right: solid 1px #7d7d7d;
    border-bottom: solid 1px #7d7d7d;
    right: 0;
}

/* スキル紹介 */
.skill {
    margin-top: 100px;
    padding: 0;
}

.skill h4 {
    padding: 0;
    margin: 0;
}

.skill-details {
    display: inline-block;
    width: 48%;
    height: 150px;
    text-align: center;
    padding: 0.5em 1em;
    margin: 3px 0;
    font-weight: bold;
    border: solid 2px #000000;
    border-radius: 5px;
    border-bottom: solid 6px #333;
    border-radius: 9px;
}

.skill-details h5 {
    margin: 0;
    padding: 0;
}

.skill-details img {
    width: auto;
    height: 100px;
    margin: auto;
}

/* セールポイント */
.sales-point {
    padding-top: 60px;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px #000000;
    border-radius: 5px;
    border-bottom: solid 6px #333;
    border-radius: 9px;
}

.sales-point h7 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #333;
}

.sales-point section {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 2px #000000;
    border-radius: 5px;
    border-bottom: solid 6px #333;
    border-radius: 9px;
}

.sales-point h8 {
    display: block;
    font-size: 1.3em;
    padding: 0 0 5px 0;
}

.sales-point section p {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1050px) {

    .sp-right{
        float: initial;
    }

    .main-visual p {
        font-size: 2.0em;
        top: 310px;
        left: 60%;
    }

    .portfolio-description {
        width: 32.6%;
        height: 220px;
    }


    .portfolio-description img{
        width:  80px;
        padding:20px 0;
        float: initial;
        margin: auto;
    }

    .portfolio-description p{
        text-align: left;
        font-size: 16px;
        line-height: 1.6;
    }

    .self-introduction img {
        width: 256px;
        height: 256px;
    }

    .xr-word-introduction {
        width: 90%;
    }

    .skill .skill-details {
        width: 32.6%;
    }

    .sales-point h7 {
        font-size: 2.0em;
    }

}